In [6]:
%reload_ext autoreload
%autoreload 2

In [7]:
#from src.data_load import download_dataset
from src.path import DATA_DIR

#download_dataset()

In [8]:
from src.path import DATA_DIR
import pandas as pd

raw_data = pd.read_csv(DATA_DIR / "raw_data.csv")  

# Print important informations
print(f'There are {raw_data.isnull().any().sum()} null values' )
print('The dataset contains the following features:')
print(raw_data.columns)
raw_data.head()

There are 0 null values
The dataset contains the following features:
Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count'],
      dtype='object')

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

-> Il n'y a pas de null data mais en supposant que mon data set est mis à jour chaque jour, quel type de transformation je ferais automatiquement ? 
**Avant de repondre à cette question peut-être pertinent d'analyser quelles variables je vais garder pour la modelisation et me poser la question que sur les variables restantes**

**Voir s'il y a une façon automatique de faire la feature selection que je pourrais regulierement faire tourner pour verifier qu'il n'y a pas eu un changement dans les features importantes**



**Check for outliers**
> check for normal distrbution otherwise use median definition and decide to eliminate outliers for the moment without trying to understand why we have it

**Verifiy data value**
> week ok 
> season ok

In [9]:
raw_data.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [10]:
# Feature engineering 1: from the feature "datetime" we create four other features: year, month, day, hour 
raw_data["datetime"] = pd.to_datetime(raw_data["datetime"])
raw_data['Year'] = pd.to_datetime(raw_data['datetime']).dt.year
raw_data['Month'] = pd.to_datetime(raw_data['datetime']).dt.month
raw_data['Day'] =  pd.to_datetime(raw_data['datetime']).dt.weekday
raw_data['Hour'] = pd.to_datetime(raw_data['datetime']).dt.hour

In [17]:
from src.data_preprocessing import *

features, target = cleaning_data(raw_data)
features.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,Year,Month,Day,Hour
0,2011-01-01 00:00:00,1,False,False,1,9.84,14.395,81,0.0,3,13,2011,1,5,0
1,2011-01-01 01:00:00,1,False,False,1,9.02,13.635,80,0.0,8,32,2011,1,5,1
2,2011-01-01 02:00:00,1,False,False,1,9.02,13.635,80,0.0,5,27,2011,1,5,2
3,2011-01-01 03:00:00,1,False,False,1,9.84,14.395,75,0.0,3,10,2011,1,5,3
4,2011-01-01 04:00:00,1,False,False,1,9.84,14.395,75,0.0,0,1,2011,1,5,4

In [18]:
feature_engineering(features).head()

,holiday,workingday,weather,temp,humidity,Year,hour_sin,hour_cos,month_sin,month_cos,day_sin,day_cos
0,False,False,1,9.84,81,2011,0.000000,1.000000,0.0,1.0,-0.974928,-0.222521
1,False,False,1,9.02,80,2011,0.258819,0.965926,0.0,1.0,-0.974928,-0.222521
2,False,False,1,9.02,80,2011,0.500000,0.866025,0.0,1.0,-0.974928,-0.222521
3,False,False,1,9.84,75,2011,0.707107,0.707107,0.0,1.0,-0.974928,-0.222521
4,False,False,1,9.84,75,2011,0.866025,0.500000,0.0,1.0,-0.974928,-0.222521

In [19]:
preprocessor = get_preprocessor_pipeline()